USE_MYSQL_NOTIFICATIONS=true
USE_MYSQL_REPORTS=true
USE_MYSQL_USERS=true
USE_MYSQL_LOGIN_LOGS=true
USE_MYSQL_PRODUCTS=true
USE_MYSQL_REQUESTS=true
USE_MYSQL_WISHLISTS=true
USE_MYSQL_MESSAGES=true
LEGACY_PRODUCT_OWNER_USERNAME=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=rp_marketplace
